# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Data and Models
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.joblib
models/*.pkl
models/*.h5
models/*.json

# Outputs
outputs/metrics/*
outputs/plots/*
!outputs/metrics/.gitkeep
!outputs/plots/.gitkeep

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.vscode/
.idea/
